/* Faq */
.accordion-head{
    &:after {
        font-family: remixicon;
        content: "\EA6E";
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 22px;
        color: $black;
        font-weight: 500;
        position: absolute;
        top: 18px;
        right: 15px;
    }
}

.accordion-head.active-arrow{   
    &:after{
        font-family: remixicon;
        content: "\EA6E";
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 22px;
        color: $black;
        font-weight: 500;
        position: absolute;
        top: 18px;
        right: 15px;
        transform: rotate(90deg);
    }
}
