/* RTL Mode */
@import "utilities/_variables";

html * {
    direction: rtl;
}

.slick-slider *,
.swiper-wrapper,
.owl-carousel * {
    direction: ltr;
}

.top-header {
    .cr-right-bar {
        .cr-right-bar-item {
            &:not(:last-child) {
                padding-right: 0;
                padding-left: 30px;
            }
            i {
                padding-right: 0;
                padding-left: 5px;
            }
        }
    }
    .cr-search {
        input {
            padding-left: 175px;
            padding-right: 15px;
        }
        select {
            right: auto;
            left: 45px;
            border-left: 0;
            border-right-width: 1px;
            border-right-style: solid;
            padding-left: 0;
            padding-right: 0.75rem;
            margin-right: 0;
            margin-left: 5px;
        }
    }
    .cr-search {
        .search-btn {
            right: auto;
            left: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
}
.categories-inner {
    h4 {
        position: absolute;
        left: 15px;
        right: auto;
        text-align: right;
    }
 }
ul.navbar-nav {
    li.nav-item {
        a.nav-link {
            &:before {
                left: auto;
                right: 0;
            }
        }
        .dropdown-toggle {
            &:after {
                margin-left: 0;
                margin-right: 5px;
            }
        }
    }
    .dropdown {
        .dropdown-menu {
            text-align: right;
            left: 0 !important;
            right: auto !important;
            li {
                a {
                    text-align: right;
                }
            }
        }
    }
}

.cr-categories {
    ul.nav-tabs {
        padding: 0;
    }
}

.cr-left-side-contain {
    position: absolute;
    left: 0;
    top: 0;
    h5 {
        span {
            margin-right: 0;
            margin-left: 5px;
        }
    }
}

.cr-menu-list {
    nav {
        ul {
            li {
                &:not(:last-child) {
                    margin-right: 0;
                    margin-left: 25px;
                }
            }
        }
    }
    .cr-calling {
        i {
            padding-right: 0;
            padding-left: 5px;
        }
    }
}

.cr-cat-dropdown {
    left: auto;
    right: 0;
    .cr-cat-tab {
        .tab-content {
            .tab-pane {
                .tab-list {
                    ul.cat-list {
                        li {
                            a {
                                text-align: right;
                            }
                        }
                    }
                }
            }
            .tab-list {
                .col {
                    ul {
                        li {
                            a {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
        .cr-tab-list {
            margin-right: 0;
            margin-left: 24px;
        }
    }
}

.cr-hero-banner {
    &:before {
        left: auto;
        right: 0px;
    }
    &:after {
        left: auto;
        right: 0px;
    }
    .hero-container {
        &:after {
            right: auto;
            left: 500px;
        }
        &:before {
            left: auto;
            right: 500px;
        }
    }
}

.cr-side-cart {
    ul {
        li {
            .menu-toggle {
                right: auto;
                left: 0;
            }
        }
    }
}

.cr-cart-view {
    .cr-cart-inner {
        .cr-cart-top {
            ul.crcart-pro-items {
                padding: 0;
                li {
                    .cr-pro-content {
                        padding-left: 0;
                        padding-right: 15px;
                        .remove {
                            right: auto;
                            left: 0;
                        }
                        .cart_pro_title {
                            padding-right: 0;
                            padding-left: 30px;
                        }
                        .cart-price {
                            direction: ltr;
                        }
                    }
                }
            }
        }
        .cr-cart-bottom {
            .cart-sub-total {
                table {
                    tbody {
                        tr {
                            td.text-left {
                                text-align: right;
                            }
                            td.text-right {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-categories {
    &:before {
        right: auto;
        left: 50px;
    }
}

.cr-side-categories {
    .categories-inner {
        h4 {
            span {
                padding: 10px 5px 10px 0px;
            }
        }
    }
}

.cr-counter {
    .cr-counter-inner {
        h4 {
            &:not(:first-child) {
                margin-left: 0;
                margin-right: 20px;
                &:after {
                    right: auto;
                    left: 50px;
                }
            }
        }
    }
}

.cr-product-banner-image {
    .cr-product-banner-contain {
        left: 0;
        right: auto;
        text-align: right;
        align-items: flex-start;
        p {
            .percent {
                margin-right: 0;
                margin-left: 5px;
            }
        }
    }
}

.cr-product-tabs {
    ul {
        li {
            &:after {
                right: auto;
                left: 13px;
                transform: rotate(180deg);
            }
        }
    }
}

.cr-deal-rightside {
    align-items: end;
    .cr-deal-content {
        text-align: right;
    }
}

.cr-ice-cubes {
    .cr-ice-cubes-contain {
        left: auto;
        right: 0;
    }
}

.section-popular-product-shape {
    &:before {
        left: auto;
        right: 20px;
    }
    .popular-product-container {
        &:after {
            left: auto;
            right: -100px;
            transform: rotate(-60deg);
        }
    }
}

.section-product-banner {
    &:before {
        right: auto;
        left: 20px;
    }
}

.section-services {
    &:before {
        left: auto;
        right: 20px;
    }
}

.section-popular {
    &:before {
        right: auto;
        left: 20px;
    }
}

.section-testimonial {
    &:before {
        left: auto;
        right: -20px;
    }
}

.cr-products-rightbar {
    .cr-products-rightbar-content {
        align-items: flex-start;
        .cr-off {
            width: 100%;
            justify-content: flex-start;
            span {
                margin-left: 0;
                margin-right: 7px;
            }
        }
        .rightbar-buttons {
            justify-content: flex-start;
            width: 100%;
        }
    }
}

.cr-blog {
    .cr-blog-image {
        .cr-blog-date {
            right: auto;
            left: 12px;
        }
    }
    .cr-blog-content {
        text-align: right;
        .read {
            padding-right: 24px;
            &:after {
                right: 0;
            }
        }
    }
}

.cr-footer {
    ul {
        .location-icon {
            padding-left: 0;
            padding-right: 30px;
        }
        .mail-icon {
            padding-left: 0;
            padding-right: 30px;
        }
        .phone-icon {
            padding-left: 0;
            padding-right: 30px;
        }
        li {
            &:after {
                left: auto;
                right: 0;
            }
        }
    }
}

.cr-search-footer {
    .search-btn {
        right: auto;
        left: 0;
    }
}

.section-blog {
    &:before {
        right: auto;
        left: 50px;
    }
    &:after {
        left: auto;
        right: 40px;
    }
}

.footer {
    .footer-container {
        &:before {
            right: auto;
            left: -85px;
        }
    }
    &:before {
        right: auto;
        left: 100px;
    }
    &:after {
        left: auto;
        right: -10px;
    }
}

.cr-blog-details {
    .pr-\[12px\] {
        padding-right: 0;
        padding-left: 12px;
    }
    .pl-\[12px\] {
        padding-right: 12px;
        padding-left: 0;
    }
}

.cr-content-form {
    .pr-\[12px\] {
        padding-right: 0;
        padding-left: 12px;
    }
    .pl-\[12px\] {
        padding-right: 12px;
        padding-left: 0;
    }
}

.accordion-head.active-arrow {
    &:after {
        right: auto;
        left: 15px;
        transform: rotate(90deg);
    }
}

.accordion-head {
    &:after {
        right: auto;
        left: 15px;
        transform: rotate(180deg);
    }
}

.cr-shop-bredekamp {
    .cr-toggle {
        .gridCol {
            margin-right: 0;
            margin-left: 5px;
        }
        .shop_side_view {
            margin-right: 0;
            margin-left: 5px;
        }
    }
    .cr-select {
        padding: 3px 15px 3px 0px;
        select {
            margin-left: 10px;
        }
    }
}

.cr-checkbox {
    .checkbox-group {
        input {
            &:checked + label {
                &:after {
                    left: auto;
                    right: 6px;
                }
            }
        }
        label {
            &:before {
                margin-right: 0;
                margin-left: 10px;
            }
        }
        span {
            right: auto;
            left: 0;
        }
    }
}

.cr-shop-price {
    .price-range-slider {
        .range-value {
            input {
                padding-left: 0;
                padding-right: 6px;
            }
        }
    }
}

.cr-new-option {
    span {
        margin-right: 0;
        margin-left: 45px;
    }
}

.cr-check-login-btn {
    button {
        margin-right: 0;
        margin-left: 15px;
    }
}

.cr-product-card {
    .cr-product-image {
        .cr-side-view {
            right: auto;
            left: -40px;
        }
    }
    &:hover {
        .cr-product-image {
            .cr-side-view {
                right: auto;
                left: 12px;
            }
        }
    }
}

.page-item {
    &:first-child {
        .page-link {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    &:last-child {
        .page-link {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.col-50.col-size {
    .cr-product-box {
        .cr-product-card {
            .cr-product-details {
                text-align: right;
            }
        }
    }
}

.cr-product-details {
    .cr-star {
        p {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    p.cr-price {
        .old-price {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    p.text {
        text-align: right;
    }
}

.cr-size-and-weight {
    .cr-size-weight {
        .cr-kg {
            padding-left: 0;
            padding-right: 10px;
        }
    }
    .cr-review-star {
        .cr-star {
            margin-right: 0;
            margin-left: 10px;
        }
    }
    .list {
        ul {
            li {
                label {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
    .cr-add-card {
        .cr-qty-main {
            input {
                margin-right: 0;
                margin-left: 5px;
            }
            .minus {
                right: auto;
                left: 0;
            }
        }
        .cr-add-button {
            margin-left: 0;
            margin-right: 15px;
        }
        .cr-card-icon {
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

.cr-paking-delivery {
    .nav-tabs {
        justify-content: right;
        margin: 0;
        padding: 0;
    }
    .cr-tab-content {
        h4.heading {
            text-align: right;
        }
        .cr-description {
            p {
                text-align: right;
            }
        }
        .list {
            ul {
                li {
                    label {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.cr-tab-content-from {
    .post {
        .cr-t-review-rating {
            margin-left: 0;
            margin-right: auto;
        }
        .content {
            img {
                margin-right: 0;
                margin-left: 24px;
            }
        }
    }
    .cr-ratting-star {
        span {
            margin-right: 0;
            margin-left: 10px;
        }
    }
}

.cr-table-content {
    table {
        thead {
            tr {
                th {
                    text-align: right;
                }
            }
        }
        tbody {
            tr {
                .cr-cart-remove {
                    text-align: left;
                }
                td {
                    text-align: right;
                    .cr-cart-img {
                        margin-right: 0;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

.cr-product-csc {
    .cr-product-image {
        .cr-shopping-bag {
            right: auto;
            left: 12px;
        }
    }
}

.cr-sidebar-wrap {
    .cr-sidebar-block {
        .cr-sb-block-content {
            .cr-checkout-pro {
                .cr-product-inner {
                    .cr-pro-image-outer {
                        margin-right: 0;
                        margin-left: 15px;
                    }
                    .cr-pro-content.cr-product-details {
                        .cr-pro-rating {
                            text-align: right;
                        }
                        h5 {
                            text-align: right;
                        }
                        .cr-price {
                            text-align: right;
                        }
                    }
                    .cr-pro-content {
                        h5 {
                            padding: 0 0px 0 15px;
                        }
                    }
                }
            }
        }
    }
}

.cr-bill-option {
    span {
        margin-right: 0;
        margin-left: 45px;
    }
}

.cr-track {
    .cr-step {
        &:last-child {
            border-right-width: 1px;
            border-right-style: solid;
        }
    }
}

.accordion-button {
    &:after {
        margin-left: 0;
        margin-right: auto;
    }
}

.cr-faq {
    .accordion {
        .accordion-item {
            .accordion-button {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.cr-apps {
    .app-img {
        .adroid {
            margin-right: 0;
            margin-left: 15px;
        }
    }
}

.cr-login {
    .cr-content-form {
        .custom {
            label {
                &:before {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
            input {
                &:checked + label {
                    &:after {
                        left: auto;
                        right: 6px;
                    }
                }
            }
        }
        .login-buttons {
            button {
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }
}

.cr-register-buttons {
    button {
        margin-right: 0;
        margin-left: 15px;
    }
}

.cr-blog-sideview {
    .cr-serch-box {
        .cr-search {
            input {
                padding-left: 0;
                padding-right: 20px;
            }
            .search-btn {
                right: auto;
                left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}

.cr-blog-categories-content {
    ul {
        li {
            span {
                right: auto;
                left: 12px;
            }
        }
    }
}

.cr-blog-classic {
    .cr-blog-classic-content {
        text-align: right;
        a {
            padding-right: 24px;
            &:after {
                right: 0;
            }
        }
    }
}

.cr-blog-details {
    .cr-blog-details-content {
        .cr-banner {
            h2 {
                text-align: right;
            }
        }
    }
}

.cr-blog-details-message {
    &:after {
        right: auto;
        left: 10px;
    }
}

.col-100.col-size {
    .cr-product-box {
        .cr-product-card {
            .cr-product-details {
                text-align: right;
                ul.list {
                    li {
                        label {
                            margin-right: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

.cr-location-block {
    .cr-location-dropdown {
        .loc-grid {
            .loc-list {
                i {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
    .cr-location-menu {
        .cr-location-toggle {
            justify-content: left;
            .cr-angle {
                right: auto;
                left: 8px;
            }
            i {
                padding-left: 0;
                padding-right: 10px;
            }
        }
    }
}

.typography {
    .cr-lb {
        padding-left: 0;
        border-left: 0;
        padding-right: 10px;
        border-right: 5px solid;
    }
    .cr-rb {
        padding-right: 0;
        border-right: 0;
        padding-left: 10px;
        border-left: 5px solid;
        text-align: left;
    }
}

.title-2 {
    .cr-banner {
        h2 {
            text-align: right;
        }
    }
    .cr-banner-sub-title {
        p {
            text-align: right;
        }
    }
    .dealend-timer {
        align-items: flex-start;
        .time-block {
            margin-left: 0;
            margin-right: 10px;
            .day {
                margin-left: 0;
                margin-right: 5px;
            }
            .dots {
                margin-left: 0;
                margin-right: 5px;
            }
        }
    }
    .cr-pro-tab-nav {
        li {
            margin-left: 0;
            margin-right: 5px;
        }
    }
}

.product-card-2 {
    .cr-pro-image {
        .flags {
            right: 12px;
            left: auto;
        }
    }
    .cr-pro-content {
        .cr-pro-rating {
            i {
                margin-left: 2px;
                margin-right: 2px;
            }
        }
        .cr-pro-title {
            text-align: right;
        }
        .cr-price {
            justify-content: right;
            span.old-price {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

/* Responsive */
@media only screen and (max-width: 1399px) {
    .cr-menu-list {
        nav {
            ul {
                li {
                    &:not(:last-child) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    .cr-hero-banner {
        .hero-container {
            &:after {
                left: 300px;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .cr-menu-list {
        nav {
            ul {
                li {
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .cr-heading-res {
        text-align: left;
    }
    .cr-hero-banner {
        .hero-container {
            &:after {
                left: 10px;
            }
        }
    }
    .cr-header-buttons {
        a {
            &:not(:last-child) {
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .cr-hero-banner {
        .hero-container {
            &:after {
                left: -80px;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .cr-hero-banner {
        .hero-container {
            &:after {
                left: 10px;
            }
        }
    }
    .cr-content-form {
        .pl-\[12px\], .pr-\[12px\] {
            padding: 0;
        }
    }
}
